body {
	margin: 0px;
	background-color: rgb(247, 247, 210);
	height: 2000px;
	font-family: Arial, Helvetica, sans-serif;
}

/*------NavBar------*/
.navBarContainer {
	position: fixed;
	top: 0;
	height: 150px;
	width: 100%;
	border-bottom: 5px solid rgb(165, 164, 164);
	background-color: rgb(60, 54, 54);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	z-index: 99;
}
.navBarLinkContainer {
	display: flex;
	align-items: center;
	width: 600px;
	height: 10%;
	justify-content: space-between;
}
.titleText {
	letter-spacing: 5px;
	color: white;
	font-size: 35px;
}
.linkText {
	color: white;
	letter-spacing: 2px;
	transition: 0.3s ease-in-out;
	font-size: 20px;
	padding-bottom: 3px;
}
.currentPage {
	text-decoration: underline;
	font-size: 25px;
}
.linkText:hover {
	transform: scale(1.3);
	cursor: pointer;
}

/*------Home Page------*/
.remainingHomePageContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 120px;
	height: auto;
	width: 100vw;
	overflow: hidden;
}

/*------Banner------*/
.bannerContainer {
	border: 1px solid black;
	height: 300px;
	width: 100vw;
	overflow: hidden;
}
.bannerImg,
.profileImg {
	object-fit: cover;
	height: 100%;
	width: 100%;
	object-position: center;
}

/*------Introcution------*/
.introductionSectionContainer {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	height: 300px;
}
.profileImg {
	width: 300px;
	border-radius: 150px;
	box-shadow: 5px 5px 5px gray;
}
.introductionContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin-left: 40px;
	margin-right: 40px;
}
.introductionText {
	text-align: center;
	line-height: 30px;
	letter-spacing: 2px;
	font-size: 23px;
	font-style: italic;
	font-weight: bold;
}
/*------Bar to divide section------*/
.divideSectionBar {
	height: 5px;
	width: 70%;
	background-color: rgb(165, 164, 164);
	border-radius: 2.5px;
	margin-top: 50px;
	margin-bottom: 50px;
}
/*------Education Section------*/
.educationSectionContainer {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.schoolContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.schoolIconImg {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 5px 5px 5px gray;
}
.schoolDescription {
	margin-left: 20px;
	margin-right: 20px;
}
.schoolNameText,
.schoolDescriptionText {
	letter-spacing: 2px;
}
.schoolDescription > h3:first-child {
	font-style: italic;
	font-size: 25px;
	text-decoration: underline;
}
/*------Experience Section------*/
.experienceSectionContainer {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.experienceContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.experienceImgContainer {
	width: 300px;
}
.coolBitXImg {
	width: 100%;
	border-radius: 150px;
	border: 2px solid black;
	box-shadow: 5px 5px 5px gray;
}
.experienceDescriptionContainer {
	width: 100%;
	margin-left: 10px;
}
.experienceTitle {
	margin-left: 20px;
	font-size: 25px;
	margin-bottom: 0px;
	text-decoration: underline;
}
.experienceBulletPoints li {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 5px;
}
@media (max-width: 768px) {
	.navBarLinkContainer {
		width: 500px;
	}
	.introductionSectionContainer {
		flex-direction: column;
		height: auto;
		align-items: center;
	}
	.profileImg {
		height: 400px;
		width: 400px;
		border-radius: 200px;
	}
	.introductionContainer {
		width: 100%;
		height: 50%;
	}
	.introductionText {
		margin-left: 50px;
		margin-right: 50px;
		font-size: 30px;
		line-height: 35px;
	}
	.educationSectionContainer,
	.experienceContainer {
		flex-direction: column;
	}
	.experienceImgContainer {
		display: flex;
		justify-content: center;
	}
	.coolBitXImg {
		width: 70%;
	}
	.experienceDescriptionContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 0px;
	}
}
@media (max-width: 576px) {
	.navBarLinkContainer {
		width: 90%;
	}
	.linkText {
		font-size: 12px;
	}
	.currentPage {
		font-size: 15px;
	}
	.profileImg {
		height: 300px;
		width: 300px;
	}
	.introductionText {
		font-size: 20px;
	}
	.schoolContainer {
		flex-direction: column;
		margin-bottom: 15px;
	}
}
